.title{
    width: 80%;
    margin-bottom: 15px;

    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 500;
        display: flex;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;

    }
}