.containerHeader{
    display: flex;
    width: 100%;
    align-items: center;
    background-color:#020203;
    height: 90px;

        .logo{
            width: 20%;
                img{
                    width: 178px;
                    height: 60.93px; 
                    margin-left: 33px; 
                }
        }

        nav{
            width: 80%;

            ul{
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                padding-right: 30px;

                    li{
                        font-family: 'Roboto', sans-serif;
                        font-size: 20px;
                        font-weight: 500;
                        color: white;
                    }
            }
        }
}