.container{
    display: flex;
    width: 80%;
    

    .graphContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: solid green;
    }
}